@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.home .hero img {
    width: 100%;
    top: $navbarHeight;
}

.home .hero h1 {
    font-family: 'Kaushan Script';
    color: white;
}

.navbar .site-name {
    font-family: 'Kaushan Script';
    color: $accentColor;
}

.home .hero {
    font-size: 200%;
}

.home .hero h1 {
    width: 12em;
    padding: 0.5em 0;
    border-radius: 4px;
}

.home .hero h1 {
    background-position: top center;
    background-image: url('/rosesky.jpg');
    background-size: 10em;
    background-repeat: no-repeat;
}
